@page {
        margin: 0;
        size: A4;
}

@media print{
        :root {
                --color-background: white;
                --color-text: black;
                --color-muted-text: #555555;
                --color-link: var(--color-text);
                --color-accent: #333333;
                --color-brand-pink: #DDDDDD;     
        }

        html {
                font-size: 9pt;
        }

        body {
                padding: 1.5cm;
                line-height: 1.3;
        }

        h1, h2, h3, p, ul, dl {
                margin-block: 0.4em;
        }
        
        .skip-link, header, nav, footer {
                display: none;
        }

        .cv-container {
                flex-direction: row;
        }

        .cv-profile {
                flex: 0 0 32%;
        }

        .cv-profile, .cv-info{
                padding: 0;
                background: none;
        }

        .cv-info meter {
                print-color-adjust: exact;
        }

        .cv-profile a{
                text-decoration: none;
                font-size: 0.9em;
        }

        .cv-profile img{
                max-width: 4cm;
        }
}